@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-track {
  display: flex !important;
  gap: 16px; /* adjust this value for wider/narrower gutters */
}
.slick-slide {
  display: flex !important;
  align-items: stretch !important;
  height: auto !important;
}